@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');

body{
    background-image: url("https://sun9-10.userapi.com/c840223/v840223048/60d05/pa-UyJ1fXFU.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: red;
}

.nn{
    font-family: cursive;
    text-align: center;
    font-size: 25px;
    border: black;
}

































